# Flask Titkos kulcs
SECRET_KEY=ide-ird-a-titkos-kulcsot

# Adatbázis URI (Alapértelmezett: SQLite)
DATABASE_URL=sqlite:///gyepmester.db

# OpenWeatherMap API kulcs (opcionális, időjárás funkciókhoz)
OPENWEATHER_API_KEY=
